.header {
  margin: 0 auto;
  max-width: 700px;
}

.header h1 {
  font-family: 'Ethereal';
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 108px;
  text-align: center;  
  color: #FFFFFF;
  margin-top: 80px;
}

@media (max-width:575px) {
  .header h1 {
    font-size: 40px;
    line-height: 35px;
    margin-top: 0;
    
  }
}