.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: var(--color-grey-50);
  width: 79px;
  height: 85px;
  position: relative;
}

@media (max-width:575px) {
  .logo {
    font-size: var(--size-8);
    width: 45px;
    height: 48px;  
  }
}