.hero {
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.image {
    width: auto;
    height: 550px;
    display: flex;
    align-items: center;
}

.bg {
    position: absolute;
    height: 651px;
    width: 94%;
    z-index: -1;  
}

.hero h1 {
    font-family: 'Ethereal';
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    line-height: 76px;
    color: #fff;
}

.hero h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 50px 0;
}

.hero p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.70;
}

.hero .rosie {
    padding-left: 70px;
}

@media (max-width:992px) {
    .hero .rosie {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:775px) {
    .image {
        height: auto;
    }
    .hero .rosie {
        text-align: center;
    }
    .hero h1 {
        text-align: center;
        padding-top: 20px;
    }
    .hero h6 {
        text-align: center;
    }
    .hero p {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:575px) {
    .hero {
        margin-top: -40px;
    }
    .hero h1 {
        font-weight: 100;
        font-size: 40px;
        line-height: 35px;
        text-align: center;
        padding-top: 15px;
    }
    .hero h6 {
        padding: 10px 0 20px 0;
        text-align: center;
    }
    .hero .rosie {
        padding-left: 40px;
        padding-right: 40px;
    }
    .hero p {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .image {
        height: auto;
    }
}