.container {
    width: 242px;
    height: 440px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.relativeContainer {
    width: 242px;
    height: 440px;
    position: absolute;
    left: 33%;
}

.nav {
    width: 45px;
    height: 319px;
    background-color: #E5C288;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

@media (max-width:750px) {
    .container {
        display: none;
    }
}

@media (max-width:575px) {
    .relativeContainer {
        margin-top: 50px;
        left: 50%;
        transform: translateX(-50%)
    }    
}