.hero {
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.wrapper {
    width: auto;
    height: 800px;
    padding-left: 40px;
}

.image {
    position: absolute;
    height: 800px;
    width: 94%;
    z-index: -1;
    margin-top: -150px;
}

.image2 {
    display: none;
    position: absolute;
    height: 800px;
    width: 94%;
    z-index: -1;
    margin-top: -150px;
}

.hero h1 {
    font-family: 'Ethereal';
    margin: 0;
    padding-top: 20px;
    font-size: 214px;
    font-weight: 100;
    font-style: normal;
    font-weight: 100;
    font-size: 96px;
    line-height: 85px;
    color: #fff;
    text-align: left;
}

.hero p {
    font-size: 20px;
    color: #fff;
    width: 70%;
    max-width: 30rem;
    line-height: 24px;
    text-align: left;
    padding-top: 120px;
    max-width: 220px;
}

.bHeading {
    text-transform: uppercase;
}
.hero h4 {
    font-family: 'Ethereal';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 81%;
    text-align: center;
    color: #E8BC83;
}

.hero .tHeading{
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    max-width: 200px;
}

.hero h4.bHeading {
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;    
}

@media (max-width:750px) {
    .hero h1 {
        font-size: 84px;
        line-height: 70px;
        text-align: center;
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70%;
    }
    .hero p {
        text-align: center;
        width: 100%;
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
    }
    .wrapper {
        height: auto;
        padding-bottom: 70px;
        padding-left: 0;
    }
    .image {
        display: none;
    }
    .image2 {
        display: block;
    }        
}

@media (max-width:600px) {
    .wrapper {
      padding-bottom: 50px;
    }
}  

@media (max-width:575px) {
    .hero h1 {
        text-align: center;
        font-weight: 100;
        font-size: 40px;
        line-height: 35px;
        padding-bottom: 30px;
        padding-top: 60%;
    }
    .hero p {
        text-align: center;
        width: 100%;
        max-width: none;
    }
    .wrapper {
        padding-bottom: 40px;
    }
    .t {
        display: flex !important;
    }
    .hero h4 {
        font-family: 'Ethereal';
        font-style: normal;
        font-weight: 100;
        font-size: 36px;
        line-height: 81%;        
    }
    .hero h4.bHeading {
        font-family: 'Ethereal';
        font-weight: 100;
        font-size: 24px;
        line-height: 24px;    
    }
    .hero .tHeading{
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .hero p {
        padding-top: 20px;
    }
}